# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Logs
*.log

# Database (nếu dùng sqlite)
*.db

# Environment variables
.env.local

# Python build
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# coverage
htmlcov/
.coverage

# pip
pip-log.txt
pip-delete-this-directory.txt